<nav class="light-blue darken-1">
  <div class="nav-wrapper fixed">
    <a href="#" class="brand-logo"><img src="../assets/img/favicon.png" style="padding: 0px 30px;" width="160px"></a>
     <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
     <a href="#" class="right hide-on-large-only"><i class="large material-icons">person</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/">Inicio</a></li>
      <li><a routerLink="/login">Entra</a></li>
      <li><a routerLink="/register">Regístrate</a></li>
    </ul>
  </div>
</nav>

<ul id="slide-out" class="sidenav">
  <li><a class="sidenav-close"><i class="material-icons">close</i></a></li>
  <li><div class="divider"></div></li>
  <li><a routerLink="/" class="waves-effect">Inicio</a></li>
  <li><a routerLink="/login" class="waves-effect">Entra</a></li>
  <li><a routerLink="/register" class="waves-effect">Regístrate</a></li>
</ul>